name: auth_with_getx
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.7.2
  sizer: ^3.1.3
  shared_preferences: ^2.5.3
  http: ^1.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/fonts/
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter/Inter_24pt-Thin.ttf
          weight: 100
        - asset: assets/fonts/Inter/Inter_24pt-ExtraLight.ttf
          weight: 200
        - asset: assets/fonts/Inter/Inter_24pt-Light.ttf
          weight: 300
        - asset: assets/fonts/Inter/Inter_24pt-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter/Inter_24pt-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter/Inter_24pt-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter/Inter_24pt-Bold.ttf
          weight: 700
        - asset: assets/fonts/Inter/Inter_24pt-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/Inter/Inter_24pt-Black.ttf
          weight: 900
